.slogan_section {
  height: 110vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  video{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 1150px;
    object-fit: cover;
  }
  p,h3{
    text-align: center;
  }
  .slogan_section__text{
    margin-top: 165px;
  }
  p{
    line-height: 1.4em;
    font-size: 17px;
  }
  h3{
    font-size: 110px;
  }
  .slogan_section__button{
    // display: inline;
    min-width: 160px;
    max-height: 40px;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: white;
        color: black;
    }
  }
}

.intro_section{
    display: flex;

    height: 725px;
    .intro_section__text_div__headers{
      display: flex;
      justify-content: end;
      padding-right: 20px;
    }
    .intro_section__text_div{
      display: flex;
      flex-direction: column;
        padding: 100px 0;
        background-color: white;
        height: 100%;
        width: 50%;
        .container{
          // margin-left: 40%;
          width: 80%;
        }
        h4{
            font-size: 42px;
            margin: 0;
            line-height: 1.4em;
            letter-spacing: 0.1em;
        }
        .intro_section__text_div__content{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        p{
            line-height: 1.7rem;
            font-size: 15px;
            margin: 0;
        }
        button{
            min-width: 160px;
            height: 40px;
            border: 1px solid black;
            background-color: black;
            color: white;
            &:hover{
              background-color: white;
              color: black;
            }
        }
        .consultation_btn{
          border: 1px solid black;
          background-color: white;
            color: black;
            margin-left: 10px;
            &:hover{
              background-color: black;
              color: white;
            }
        }
        .btn_div{
          display: flex;
          margin-left: 0;
        }
    }
    .intro_section__img_div{
        width: 50%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}
@media screen and (max-width: 950px) {
  .container{
    width: 90% !important;
  }
}

@media screen and (max-width: 768px){
    
  .intro_section{
    flex-direction: column;
    align-items: center;
    .intro_section__text_div{
      width: 100%;
      align-items: baseline;
      p{
        line-height: 1rem;
        font-size: 15px;
        margin: 0;
        width: 100%;
        word-break: break-all;
    white-space: normal;
    }
      *{
        margin-left: 0;
      }
    }
    .intro_section__img_div{
        width: 100%;
        // margin-top: 50px;
    }
  }
  .slogan_section{
    h3{
      font-size: 50px;
    }
  }

}

@media screen and (max-width: 560px){
  .intro_section__text_div__headers{
    justify-content: center !important;
  }
  .container{
    width: 100%;
  }
}

@media screen and (max-width: 450px){
  .btn_div{
    margin-top: 20px;
    flex-direction: column;
  }
  .consultation_btn{
    margin-left: 0 !important;
  }
}
